extends partials/templates/template.pug

block content
  .container
    .row
      +b.serv-wrapper70
        include partials/components/404.pug
        include partials/components/services-socials.pug
      +b.serv-wrapper30
        include partials/components/sidebar.pug
