extends partials/templates/template.pug

block content
    include partials/components/call.pug
    .container
      .row
        .col-xs-12
          include partials/components/promo.pug
    .container
      .row
        .col-xs-12
          include partials/components/services.pug
    .container
      .row
        .col-xs-12
          include partials/components/features.pug
    .container
      .row
        .col-xs-12
          include partials/components/advantages.pug
    .container
      .row
        .col-xs-12
          include partials/components/map.pug
    .container
      .row
        .col-xs-12
          include partials/components/reviews.pug


