extends partials/templates/template.pug

block content
  .container
    .row
      +b.serv-wrapper70
        +b.SECTION.breadcrumbs
          a(href="index.html") Главная /
          span Задать вопрос специалисту
        +e.H1.title Задать вопрос специалисту
        include partials/components/questions-header.pug
        include partials/components/question-footer.pug

      +b.serv-wrapper30.padding-block
        include partials/components/sidebar_2.pug


  .container
    .row
      .col-xs-12
        include partials/components/map.pug