extends partials/templates/template.pug

block content
  .container
    .row
      +b.serv-wrapper70
        +b.SECTION.breadcrumbs
          a(href="index.html") Главная /
          span Отзывы
        +e.H1.title Отзывы
        include partials/components/single-review.pug

      +b.serv-wrapper30.padding-block
        include partials/components/sidebar_2.pug
