.footer-menu {
  background-color: $grey;
}

.footer-nav {
  font-size: $base-font-size + 2px;
  color: $white;
  @include mq($from:xs, $until:md){
    border-bottom: none;
  }

  &__hamburger{
    display: none;
    text-align: center;
  }
  &__list{
    font-size: $font-size;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include mq($from:xs, $until:md){
      display: block;
      text-align: center;
    }
  }

  &__item{
    &:active {
      .nav__link{
      background-color: $white;
      color: $light-blue;
    }
  }

  .dropdown-menu{
      display: flex;
     }
    }


  &__link{
    display: inline-block;
    padding: 13px 15px;
    color: $white;
    @include mq($from:xs, $until:xl){
      display: block;
      padding: 15px;
    }
    &:hover, &:focus {
      text-decoration: underline;
      color: $white;
    }
    &:active {
      background-color: $white;
      color: $red;
      text-decoration: none;
    }
    @include mq($from:xs, $until:md){
      padding-bottom: 5px;
    }
    &--active{
      font-weight: bold;
      background-color: $red;

      &:hover, &:focus {
      text-decoration: underline;
      color: $white;
      }

      &:active {
      background-color: $white;
      color: $red;
      text-decoration: none;
      }
    }
  }


  &__title{
    margin: 0;
    text-transform: uppercase;
    color: $dark-blue;
    font-size: $font-size;
    font-weight: $regular;
  }


  &--footer{
    margin-top: 20px;
    border-bottom: none;
    font-size: $font-size-content;
    .nav__list{
      display: block;
      text-align: left;
    }
    .nav__item{
      margin: 15px 0;
      padding-bottom: 0;
      &:after{
        content: "";
      }
    }
    .nav__link{
      padding-bottom: 0;
      &--active{
        border-bottom: 2px solid $light-blue;
      }
    }
  }
}

.dropdown-menu{
  // width: 270px;
  font-size: $font-size-promo;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -10px;
  list-style-type: none;
  background-color: $body-bg;
  border: 2px solid $dark-blue;
  display: none;
  position: absolute;
  z-index: 2;
  bottom: 15px;
  left: 0;
  transform: translateY(100%);
  // display: flex;
  flex-wrap: wrap;
  width: 100%;
  &__item{
    width: 20%;
    padding: 15px 5px;
    // border-bottom: 1px solid $dark-blue;
    // &:nth-last-of-type(1){
    //   border-bottom: none;
    // }
    &:hover, &:focus {
      background-color: $light-blue;
      .dropdown-menu__link{
        color: $text-color-white;
        transition: none;
      }
    &:active {
      background-color: $light-blue;
      .dropdown-menu__link{
        color: $text-color-white;
        transition: none;
        }
      }
    }
  }
  &__link{
    display: inline-block;
    padding: 0 10px;
  }
}

.search{
  margin-top: -5px;
  position: relative;
  &__form{
    @include mq($from:md, $until:xl){
      position: absolute;
      right: 0;
    }
    @include mq($from:xs, $until:md){
      position: relative;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &__icon{
    display: block;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    @include sprite($s-loupe);
    background-color: transparent;
    border: none;
    outline: none;

    @include mq($from:md, $until:lg){
      position: relative;
      top: inherit;
      right: 10px;
      transform: none;
      display: inline-block;
      vertical-align: bottom;
    }
    @include mq($from:xs, $until:md){
      position: relative;
      transform: none;
      display: inline-block;
    }
  }
}


.hamburger{
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  @include sprite($s-hamburger);
}

.hamburger--close{
  @include sprite($s-hamburger-close);
}

.footer-socials {
  background-color: $dark-grey;
}


.socials {
  padding-bottom: 20px;
  @include mq($from:xs, $until:md){
    text-align: center;
    }

  &__list {
    @include mq($from:xs, $until:md){
     margin: 0;
     text-align: center;
     padding-left: 0;
    }
  }

  &__copyright {
    font-size: $font-size-smaller;
    color: $lightest_grey;
    padding-top: 17px;
  }

  &__item {
    float: right;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 15px;

    @include mq($from:xs, $until:md){
      float: none;
      margin-left: 5px;
    }
  }

  img {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: cover;
    opacity: .8;
  }

  &__link:hover img {
    opacity: 1;
  }
}