.page-inner {

  &__title {
    font-size: $font-size +6px;
    font-weight: $bold;
    color: #4d4d4d;
    line-height: 28px;
    padding-bottom: 30px;
  }
}

.page-call-btn {
  float: left;
  border: 1px solid $light-blue;
  max-width: 180px;
  background-color: $light-grey;
  text-align: center;
  margin: 0 15px 15px;
    @include mq($from:xs, $until:sm){
      min-width: 90%;
    }
  &__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  }

  &__form {
    display: none;
    max-width: 900px;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  &__btn {
    display: block;
    background-color: $red;
    color: $white;
    font-weight: $semibold;
    margin: 15px;
    padding: 8px 10px;
      border-right: 5px solid $white;
      border-left: 5px solid $white;
      @include transition();
      &:hover {
        border-right: 5px solid $red;
        border-left: 5px solid $red;
      }
      &:active {
        background-color: $light-grey;
        color: $red;
        border-right: 5px solid $white;
        border-left: 5px solid $white;
      }
    }

  &__text {
    margin-bottom: 5px;
  }
}

.page-text-wrapper {

  &__title {
    margin-top: 0;
    font-size: $font-size +2px;
    font-weight: $bold;
    line-height: 22px;
    margin-bottom: 5px;
  }

  &__text {
    line-height: 22px;
    margin: 0;
    padding: 10px 0;
  }

  &__quote {
    background-color: $light-grey;
    border-left: 2px solid $light-blue;
    font-style: italic;
    color: #595959;
    padding: 10px;
    margin: 20px 0;

    blockquote {
      margin-bottom: 8px;
    }

    p {
      margin-top: 8px;
      text-align: right;
      padding-right: 45px;
      padding-bottom: 5px;
    }
  }

  ol, ul {
    margin: 10px 0;
  }

  li {
    padding: 3px 0;
  }

  &__page-list-ol {
    list-style-type: upper-alpha;
  }

  &__page-list-ol--level2 {
    list-style-type: lower-alpha;
  }
}

