.promo{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;

  &__title {
    text-transform: uppercase;
    color: $light-blue;
    font-size: $font-size;
    font-weight: $bold;
  }

  &__text {
    text-indent: 20px;
    text-align: left;
    margin: 0px;
    line-height: 22px;
   @include mq($from:xs, $until:lg){
    text-align: center;
    text-indent: 0px;
    font-size: $font-size - 4px;   }
  }
}
