.services-socials {

  .row {
    justify-content: center;
  }

  &__list {
    @include mq($from:xs, $until:md){
     margin: 0;
     text-align: center;
     padding-left: 0;
    }
  }

  &__item {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    margin: 3px;
  }

  img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: cover;
    opacity: .8;
  }

  &__link:hover img {
    opacity: 1;
  }
}