.sidebar{
  text-align: center;
  .form--application{
    margin-top: 30px;
  }
  .form__close{
    display: none;
  }
}

.sidebar-link {
  display: block;
  background-color: $light-blue;
  color: $white;
  margin: 10px 20px;

  &:nth-of-type(3) .sidebar-link__btn{
    padding: 10px 90px;
  }

  &__accordion {
    display: none;
    background-color: $white;
    margin: 0;
    text-align: left;
  }

  &__btn {
    color: $white;
    padding: 10px 40px;
    @include transition();
    &:hover {
      font-weight: $bold;
      text-decoration: underline;
    }
  }

  &__item {
    color: $black;
  }

  &__item a{
    color: $light-blue;
  }
}



