.sidebar{
  text-align: center;
  .form--application{
    margin-top: 30px;
  }
  .form__close{
    display: none;
  }
}

.sidebar-link {
  display: block;
  background-color: $light-blue;
  color: $white;
  margin: 10px 20px;
  padding: 10px 40px;

  &:nth-of-type(3) {
    padding: 10px 90px;
  }

  &__btn {
    color: $white;
    @include transition();
    &:hover {
      font-weight: $bold;
      text-decoration: underline;
    }
  }

  &__item {

  }
}

