- var application = [{name: 'application', id: 'formApplication', title : 'Заказать документ', application: true, question: false, call: false, button: 'Заказать', success: 'Ваша заявка отправлена'}]
- var question = [{name: 'question', id: 'formQuestion', title : 'Для получения бесплатной консультации заполните форму', application: false, question: true, call: false, button: 'Спросить', success: 'Ваш вопрос отправлен'}]
- var call = [{name: 'call', id: 'formCall', title : 'Заказать звонок', application: false, question: false, call: true, button: 'Заказать звонок', success: 'Ваша заявка отправлена'}]


mixin form(items)
  each item in items
    +b.SECTION(class= 'form--' + item.name).container
      form(action='', method='', id= item.id, class="row")
        +e.H3.title.col-xs-12 #{item.title}

        if item.application
          .form-group.field-question-production.required
            +e.INPUT.input(type='text', name='Продукция', placeholder='Наименование продукции*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-name.required.has-error
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-email.required.has-success
            +e.INPUT.input(type='email', name='Email', placeholder='Ваш e-mail*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-phone
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Контактный телефон')
            p.help-block.help-block-error Ошибка заполнения поля формы

        if item.question
          .form-group.field-question-name.required.has-success
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-email.required.has-success
            +e.INPUT.input(type='phone', name='phone', placeholder='Ваш телефон*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.required
          .form-group.field-question-email.required.has-success
            +e.INPUT.input(type='text', name='country', placeholder='Ваша страна*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.required
          .form-group.field-question-email.required.has-success
            +e.INPUT.input(type='text', name='Region', placeholder='Ваш регион')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.required
          .form-group.field-question-email.required.has-success
            +e.INPUT.input(type='email', name='Email', placeholder='Ваш e-mail*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.required
          .form-group.field-question-email.required.has-success
            +e.INPUT.input(type='text', name='Capcha', placeholder='Введите код с картинки')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.required

        if item.call
          .form-group.field-question-name.required.has-error
            +e.INPUT.input(type='text', name='Имя', placeholder='Ваше имя*')
            p.help-block.help-block-error Ошибка заполнения поля формы
          .form-group.field-question-phone.required.has-success
            +e.INPUT.input(type='tel', name='Телефон', placeholder='Контактный телефон*')
            p.help-block.help-block-error Ошибка заполнения поля формы

        .form-group.recaptcha
          +b.captcha
        +b.BUTTON.btn--form(type='submit') #{item.button}
        p.help-block.help-block-success #{item.success}
