mixin serviceItem(img, title)
  +e.A.item(href="page.html").col-xs-12.col-md-6.col-lg-4
    +e.wrapper
      +e.img
        img(src= "img/" + img alt)
      +e.SPAN.triangle
      +e.SPAN.triangle_2
      +e.P.type #{title}
