mixin sidebarLink(text)
  +b.sidebar-link
    +e.P.btn #{text}
    +e.UL.accordion
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
      +e.LI.item
        a(href="page.html") Сертификат промышленной безопасности
