/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-advantages-icon-name: 's-advantages-icon';
$s-advantages-icon-x: 450px;
$s-advantages-icon-y: 510px;
$s-advantages-icon-offset-x: -450px;
$s-advantages-icon-offset-y: -510px;
$s-advantages-icon-width: 58px;
$s-advantages-icon-height: 58px;
$s-advantages-icon-total-width: 776px;
$s-advantages-icon-total-height: 672px;
$s-advantages-icon-image: '../img/png-sprite.png';
$s-advantages-icon: (450px, 510px, -450px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-advantages-icon', );
$s-advantages01-name: 's-advantages01';
$s-advantages01-x: 647px;
$s-advantages01-y: 370px;
$s-advantages01-offset-x: -647px;
$s-advantages01-offset-y: -370px;
$s-advantages01-width: 100px;
$s-advantages01-height: 100px;
$s-advantages01-total-width: 776px;
$s-advantages01-total-height: 672px;
$s-advantages01-image: '../img/png-sprite.png';
$s-advantages01: (647px, 370px, -647px, -370px, 100px, 100px, 776px, 672px, '../img/png-sprite.png', 's-advantages01', );
$s-advantages02-name: 's-advantages02';
$s-advantages02-x: 0px;
$s-advantages02-y: 510px;
$s-advantages02-offset-x: 0px;
$s-advantages02-offset-y: -510px;
$s-advantages02-width: 100px;
$s-advantages02-height: 100px;
$s-advantages02-total-width: 776px;
$s-advantages02-total-height: 672px;
$s-advantages02-image: '../img/png-sprite.png';
$s-advantages02: (0px, 510px, 0px, -510px, 100px, 100px, 776px, 672px, '../img/png-sprite.png', 's-advantages02', );
$s-advantages03-name: 's-advantages03';
$s-advantages03-x: 647px;
$s-advantages03-y: 170px;
$s-advantages03-offset-x: -647px;
$s-advantages03-offset-y: -170px;
$s-advantages03-width: 100px;
$s-advantages03-height: 100px;
$s-advantages03-total-width: 776px;
$s-advantages03-total-height: 672px;
$s-advantages03-image: '../img/png-sprite.png';
$s-advantages03: (647px, 170px, -647px, -170px, 100px, 100px, 776px, 672px, '../img/png-sprite.png', 's-advantages03', );
$s-certification-hover1-name: 's-certification-hover1';
$s-certification-hover1-x: 0px;
$s-certification-hover1-y: 340px;
$s-certification-hover1-offset-x: 0px;
$s-certification-hover1-offset-y: -340px;
$s-certification-hover1-width: 129px;
$s-certification-hover1-height: 170px;
$s-certification-hover1-total-width: 776px;
$s-certification-hover1-total-height: 672px;
$s-certification-hover1-image: '../img/png-sprite.png';
$s-certification-hover1: (0px, 340px, 0px, -340px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover1', );
$s-certification-hover2-name: 's-certification-hover2';
$s-certification-hover2-x: 387px;
$s-certification-hover2-y: 340px;
$s-certification-hover2-offset-x: -387px;
$s-certification-hover2-offset-y: -340px;
$s-certification-hover2-width: 129px;
$s-certification-hover2-height: 170px;
$s-certification-hover2-total-width: 776px;
$s-certification-hover2-total-height: 672px;
$s-certification-hover2-image: '../img/png-sprite.png';
$s-certification-hover2: (387px, 340px, -387px, -340px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover2', );
$s-certification-hover3-name: 's-certification-hover3';
$s-certification-hover3-x: 0px;
$s-certification-hover3-y: 170px;
$s-certification-hover3-offset-x: 0px;
$s-certification-hover3-offset-y: -170px;
$s-certification-hover3-width: 129px;
$s-certification-hover3-height: 170px;
$s-certification-hover3-total-width: 776px;
$s-certification-hover3-total-height: 672px;
$s-certification-hover3-image: '../img/png-sprite.png';
$s-certification-hover3: (0px, 170px, 0px, -170px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover3', );
$s-certification-hover4-name: 's-certification-hover4';
$s-certification-hover4-x: 0px;
$s-certification-hover4-y: 0px;
$s-certification-hover4-offset-x: 0px;
$s-certification-hover4-offset-y: 0px;
$s-certification-hover4-width: 130px;
$s-certification-hover4-height: 170px;
$s-certification-hover4-total-width: 776px;
$s-certification-hover4-total-height: 672px;
$s-certification-hover4-image: '../img/png-sprite.png';
$s-certification-hover4: (0px, 0px, 0px, 0px, 130px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover4', );
$s-certification-hover5-name: 's-certification-hover5';
$s-certification-hover5-x: 258px;
$s-certification-hover5-y: 170px;
$s-certification-hover5-offset-x: -258px;
$s-certification-hover5-offset-y: -170px;
$s-certification-hover5-width: 129px;
$s-certification-hover5-height: 170px;
$s-certification-hover5-total-width: 776px;
$s-certification-hover5-total-height: 672px;
$s-certification-hover5-image: '../img/png-sprite.png';
$s-certification-hover5: (258px, 170px, -258px, -170px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover5', );
$s-certification-hover6-name: 's-certification-hover6';
$s-certification-hover6-x: 389px;
$s-certification-hover6-y: 0px;
$s-certification-hover6-offset-x: -389px;
$s-certification-hover6-offset-y: 0px;
$s-certification-hover6-width: 129px;
$s-certification-hover6-height: 170px;
$s-certification-hover6-total-width: 776px;
$s-certification-hover6-total-height: 672px;
$s-certification-hover6-image: '../img/png-sprite.png';
$s-certification-hover6: (389px, 0px, -389px, 0px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover6', );
$s-certification-hover7-name: 's-certification-hover7';
$s-certification-hover7-x: 389px;
$s-certification-hover7-y: 170px;
$s-certification-hover7-offset-x: -389px;
$s-certification-hover7-offset-y: -170px;
$s-certification-hover7-width: 129px;
$s-certification-hover7-height: 170px;
$s-certification-hover7-total-width: 776px;
$s-certification-hover7-total-height: 672px;
$s-certification-hover7-image: '../img/png-sprite.png';
$s-certification-hover7: (389px, 170px, -389px, -170px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover7', );
$s-certification-hover8-name: 's-certification-hover8';
$s-certification-hover8-x: 260px;
$s-certification-hover8-y: 0px;
$s-certification-hover8-offset-x: -260px;
$s-certification-hover8-offset-y: 0px;
$s-certification-hover8-width: 129px;
$s-certification-hover8-height: 170px;
$s-certification-hover8-total-width: 776px;
$s-certification-hover8-total-height: 672px;
$s-certification-hover8-image: '../img/png-sprite.png';
$s-certification-hover8: (260px, 0px, -260px, 0px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification-hover8', );
$s-certification-icon-name: 's-certification-icon';
$s-certification-icon-x: 334px;
$s-certification-icon-y: 510px;
$s-certification-icon-offset-x: -334px;
$s-certification-icon-offset-y: -510px;
$s-certification-icon-width: 58px;
$s-certification-icon-height: 58px;
$s-certification-icon-total-width: 776px;
$s-certification-icon-total-height: 672px;
$s-certification-icon-image: '../img/png-sprite.png';
$s-certification-icon: (334px, 510px, -334px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-certification-icon', );
$s-certification1-name: 's-certification1';
$s-certification1-x: 129px;
$s-certification1-y: 170px;
$s-certification1-offset-x: -129px;
$s-certification1-offset-y: -170px;
$s-certification1-width: 129px;
$s-certification1-height: 170px;
$s-certification1-total-width: 776px;
$s-certification1-total-height: 672px;
$s-certification1-image: '../img/png-sprite.png';
$s-certification1: (129px, 170px, -129px, -170px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification1', );
$s-certification2-name: 's-certification2';
$s-certification2-x: 129px;
$s-certification2-y: 340px;
$s-certification2-offset-x: -129px;
$s-certification2-offset-y: -340px;
$s-certification2-width: 129px;
$s-certification2-height: 170px;
$s-certification2-total-width: 776px;
$s-certification2-total-height: 672px;
$s-certification2-image: '../img/png-sprite.png';
$s-certification2: (129px, 340px, -129px, -340px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification2', );
$s-certification3-name: 's-certification3';
$s-certification3-x: 258px;
$s-certification3-y: 340px;
$s-certification3-offset-x: -258px;
$s-certification3-offset-y: -340px;
$s-certification3-width: 129px;
$s-certification3-height: 170px;
$s-certification3-total-width: 776px;
$s-certification3-total-height: 672px;
$s-certification3-image: '../img/png-sprite.png';
$s-certification3: (258px, 340px, -258px, -340px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification3', );
$s-certification4-name: 's-certification4';
$s-certification4-x: 130px;
$s-certification4-y: 0px;
$s-certification4-offset-x: -130px;
$s-certification4-offset-y: 0px;
$s-certification4-width: 130px;
$s-certification4-height: 170px;
$s-certification4-total-width: 776px;
$s-certification4-total-height: 672px;
$s-certification4-image: '../img/png-sprite.png';
$s-certification4: (130px, 0px, -130px, 0px, 130px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification4', );
$s-certification5-name: 's-certification5';
$s-certification5-x: 518px;
$s-certification5-y: 0px;
$s-certification5-offset-x: -518px;
$s-certification5-offset-y: 0px;
$s-certification5-width: 129px;
$s-certification5-height: 170px;
$s-certification5-total-width: 776px;
$s-certification5-total-height: 672px;
$s-certification5-image: '../img/png-sprite.png';
$s-certification5: (518px, 0px, -518px, 0px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification5', );
$s-certification6-name: 's-certification6';
$s-certification6-x: 518px;
$s-certification6-y: 170px;
$s-certification6-offset-x: -518px;
$s-certification6-offset-y: -170px;
$s-certification6-width: 129px;
$s-certification6-height: 170px;
$s-certification6-total-width: 776px;
$s-certification6-total-height: 672px;
$s-certification6-image: '../img/png-sprite.png';
$s-certification6: (518px, 170px, -518px, -170px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification6', );
$s-certification7-name: 's-certification7';
$s-certification7-x: 518px;
$s-certification7-y: 340px;
$s-certification7-offset-x: -518px;
$s-certification7-offset-y: -340px;
$s-certification7-width: 129px;
$s-certification7-height: 170px;
$s-certification7-total-width: 776px;
$s-certification7-total-height: 672px;
$s-certification7-image: '../img/png-sprite.png';
$s-certification7: (518px, 340px, -518px, -340px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification7', );
$s-certification8-name: 's-certification8';
$s-certification8-x: 647px;
$s-certification8-y: 0px;
$s-certification8-offset-x: -647px;
$s-certification8-offset-y: 0px;
$s-certification8-width: 129px;
$s-certification8-height: 170px;
$s-certification8-total-width: 776px;
$s-certification8-total-height: 672px;
$s-certification8-image: '../img/png-sprite.png';
$s-certification8: (647px, 0px, -647px, 0px, 129px, 170px, 776px, 672px, '../img/png-sprite.png', 's-certification8', );
$s-face-consult-name: 's-face-consult';
$s-face-consult-x: 0px;
$s-face-consult-y: 610px;
$s-face-consult-offset-x: 0px;
$s-face-consult-offset-y: -610px;
$s-face-consult-width: 56px;
$s-face-consult-height: 62px;
$s-face-consult-total-width: 776px;
$s-face-consult-total-height: 672px;
$s-face-consult-image: '../img/png-sprite.png';
$s-face-consult: (0px, 610px, 0px, -610px, 56px, 62px, 776px, 672px, '../img/png-sprite.png', 's-face-consult', );
$s-feat-icon-name: 's-feat-icon';
$s-feat-icon-x: 114px;
$s-feat-icon-y: 610px;
$s-feat-icon-offset-x: -114px;
$s-feat-icon-offset-y: -610px;
$s-feat-icon-width: 56px;
$s-feat-icon-height: 56px;
$s-feat-icon-total-width: 776px;
$s-feat-icon-total-height: 672px;
$s-feat-icon-image: '../img/png-sprite.png';
$s-feat-icon: (114px, 610px, -114px, -610px, 56px, 56px, 776px, 672px, '../img/png-sprite.png', 's-feat-icon', );
$s-fire-safety-icon-name: 's-fire-safety-icon';
$s-fire-safety-icon-x: 218px;
$s-fire-safety-icon-y: 510px;
$s-fire-safety-icon-offset-x: -218px;
$s-fire-safety-icon-offset-y: -510px;
$s-fire-safety-icon-width: 58px;
$s-fire-safety-icon-height: 58px;
$s-fire-safety-icon-total-width: 776px;
$s-fire-safety-icon-total-height: 672px;
$s-fire-safety-icon-image: '../img/png-sprite.png';
$s-fire-safety-icon: (218px, 510px, -218px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-fire-safety-icon', );
$s-hamburger-close-name: 's-hamburger-close';
$s-hamburger-close-x: 747px;
$s-hamburger-close-y: 170px;
$s-hamburger-close-offset-x: -747px;
$s-hamburger-close-offset-y: -170px;
$s-hamburger-close-width: 21px;
$s-hamburger-close-height: 21px;
$s-hamburger-close-total-width: 776px;
$s-hamburger-close-total-height: 672px;
$s-hamburger-close-image: '../img/png-sprite.png';
$s-hamburger-close: (747px, 170px, -747px, -170px, 21px, 21px, 776px, 672px, '../img/png-sprite.png', 's-hamburger-close', );
$s-hamburger-name: 's-hamburger';
$s-hamburger-x: 408px;
$s-hamburger-y: 570px;
$s-hamburger-offset-x: -408px;
$s-hamburger-offset-y: -570px;
$s-hamburger-width: 30px;
$s-hamburger-height: 24px;
$s-hamburger-total-width: 776px;
$s-hamburger-total-height: 672px;
$s-hamburger-image: '../img/png-sprite.png';
$s-hamburger: (408px, 570px, -408px, -570px, 30px, 24px, 776px, 672px, '../img/png-sprite.png', 's-hamburger', );
$s-industrial-safety-icon-name: 's-industrial-safety-icon';
$s-industrial-safety-icon-x: 392px;
$s-industrial-safety-icon-y: 510px;
$s-industrial-safety-icon-offset-x: -392px;
$s-industrial-safety-icon-offset-y: -510px;
$s-industrial-safety-icon-width: 58px;
$s-industrial-safety-icon-height: 58px;
$s-industrial-safety-icon-total-width: 776px;
$s-industrial-safety-icon-total-height: 672px;
$s-industrial-safety-icon-image: '../img/png-sprite.png';
$s-industrial-safety-icon: (392px, 510px, -392px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-industrial-safety-icon', );
$s-iso-icon-name: 's-iso-icon';
$s-iso-icon-x: 160px;
$s-iso-icon-y: 510px;
$s-iso-icon-offset-x: -160px;
$s-iso-icon-offset-y: -510px;
$s-iso-icon-width: 58px;
$s-iso-icon-height: 58px;
$s-iso-icon-total-width: 776px;
$s-iso-icon-total-height: 672px;
$s-iso-icon-image: '../img/png-sprite.png';
$s-iso-icon: (160px, 510px, -160px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-iso-icon', );
$s-loupe-name: 's-loupe';
$s-loupe-x: 747px;
$s-loupe-y: 191px;
$s-loupe-offset-x: -747px;
$s-loupe-offset-y: -191px;
$s-loupe-width: 19px;
$s-loupe-height: 19px;
$s-loupe-total-width: 776px;
$s-loupe-total-height: 672px;
$s-loupe-image: '../img/png-sprite.png';
$s-loupe: (747px, 191px, -747px, -191px, 19px, 19px, 776px, 672px, '../img/png-sprite.png', 's-loupe', );
$s-map-icon-name: 's-map-icon';
$s-map-icon-x: 100px;
$s-map-icon-y: 510px;
$s-map-icon-offset-x: -100px;
$s-map-icon-offset-y: -510px;
$s-map-icon-width: 60px;
$s-map-icon-height: 60px;
$s-map-icon-total-width: 776px;
$s-map-icon-total-height: 672px;
$s-map-icon-image: '../img/png-sprite.png';
$s-map-icon: (100px, 510px, -100px, -510px, 60px, 60px, 776px, 672px, '../img/png-sprite.png', 's-map-icon', );
$s-news-prefix-name: 's-news-prefix';
$s-news-prefix-x: 747px;
$s-news-prefix-y: 224px;
$s-news-prefix-offset-x: -747px;
$s-news-prefix-offset-y: -224px;
$s-news-prefix-width: 20px;
$s-news-prefix-height: 14px;
$s-news-prefix-total-width: 776px;
$s-news-prefix-total-height: 672px;
$s-news-prefix-image: '../img/png-sprite.png';
$s-news-prefix: (747px, 224px, -747px, -224px, 20px, 14px, 776px, 672px, '../img/png-sprite.png', 's-news-prefix', );
$s-other-services-icon-name: 's-other-services-icon';
$s-other-services-icon-x: 682px;
$s-other-services-icon-y: 510px;
$s-other-services-icon-offset-x: -682px;
$s-other-services-icon-offset-y: -510px;
$s-other-services-icon-width: 58px;
$s-other-services-icon-height: 58px;
$s-other-services-icon-total-width: 776px;
$s-other-services-icon-total-height: 672px;
$s-other-services-icon-image: '../img/png-sprite.png';
$s-other-services-icon: (682px, 510px, -682px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-other-services-icon', );
$s-product-testing-icon-name: 's-product-testing-icon';
$s-product-testing-icon-x: 56px;
$s-product-testing-icon-y: 610px;
$s-product-testing-icon-offset-x: -56px;
$s-product-testing-icon-offset-y: -610px;
$s-product-testing-icon-width: 58px;
$s-product-testing-icon-height: 58px;
$s-product-testing-icon-total-width: 776px;
$s-product-testing-icon-total-height: 672px;
$s-product-testing-icon-image: '../img/png-sprite.png';
$s-product-testing-icon: (56px, 610px, -56px, -610px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-product-testing-icon', );
$s-quality-system-icon-name: 's-quality-system-icon';
$s-quality-system-icon-x: 624px;
$s-quality-system-icon-y: 510px;
$s-quality-system-icon-offset-x: -624px;
$s-quality-system-icon-offset-y: -510px;
$s-quality-system-icon-width: 58px;
$s-quality-system-icon-height: 58px;
$s-quality-system-icon-total-width: 776px;
$s-quality-system-icon-total-height: 672px;
$s-quality-system-icon-image: '../img/png-sprite.png';
$s-quality-system-icon: (624px, 510px, -624px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-quality-system-icon', );
$s-review-icon-name: 's-review-icon';
$s-review-icon-x: 508px;
$s-review-icon-y: 510px;
$s-review-icon-offset-x: -508px;
$s-review-icon-offset-y: -510px;
$s-review-icon-width: 58px;
$s-review-icon-height: 58px;
$s-review-icon-total-width: 776px;
$s-review-icon-total-height: 672px;
$s-review-icon-image: '../img/png-sprite.png';
$s-review-icon: (508px, 510px, -508px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-review-icon', );
$s-review-img-name: 's-review-img';
$s-review-img-x: 647px;
$s-review-img-y: 270px;
$s-review-img-offset-x: -647px;
$s-review-img-offset-y: -270px;
$s-review-img-width: 100px;
$s-review-img-height: 100px;
$s-review-img-total-width: 776px;
$s-review-img-total-height: 672px;
$s-review-img-image: '../img/png-sprite.png';
$s-review-img: (647px, 270px, -647px, -270px, 100px, 100px, 776px, 672px, '../img/png-sprite.png', 's-review-img', );
$s-rospotreb-icon-name: 's-rospotreb-icon';
$s-rospotreb-icon-x: 276px;
$s-rospotreb-icon-y: 510px;
$s-rospotreb-icon-offset-x: -276px;
$s-rospotreb-icon-offset-y: -510px;
$s-rospotreb-icon-width: 58px;
$s-rospotreb-icon-height: 58px;
$s-rospotreb-icon-total-width: 776px;
$s-rospotreb-icon-total-height: 672px;
$s-rospotreb-icon-image: '../img/png-sprite.png';
$s-rospotreb-icon: (276px, 510px, -276px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-rospotreb-icon', );
$s-serv-icon-name: 's-serv-icon';
$s-serv-icon-x: 170px;
$s-serv-icon-y: 610px;
$s-serv-icon-offset-x: -170px;
$s-serv-icon-offset-y: -610px;
$s-serv-icon-width: 54px;
$s-serv-icon-height: 54px;
$s-serv-icon-total-width: 776px;
$s-serv-icon-total-height: 672px;
$s-serv-icon-image: '../img/png-sprite.png';
$s-serv-icon: (170px, 610px, -170px, -610px, 54px, 54px, 776px, 672px, '../img/png-sprite.png', 's-serv-icon', );
$s-serv01-name: 's-serv01';
$s-serv01-x: 740px;
$s-serv01-y: 510px;
$s-serv01-offset-x: -740px;
$s-serv01-offset-y: -510px;
$s-serv01-width: 32px;
$s-serv01-height: 43px;
$s-serv01-total-width: 776px;
$s-serv01-total-height: 672px;
$s-serv01-image: '../img/png-sprite.png';
$s-serv01: (740px, 510px, -740px, -510px, 32px, 43px, 776px, 672px, '../img/png-sprite.png', 's-serv01', );
$s-serv02-name: 's-serv02';
$s-serv02-x: 300px;
$s-serv02-y: 570px;
$s-serv02-offset-x: -300px;
$s-serv02-offset-y: -570px;
$s-serv02-width: 39px;
$s-serv02-height: 39px;
$s-serv02-total-width: 776px;
$s-serv02-total-height: 672px;
$s-serv02-image: '../img/png-sprite.png';
$s-serv02: (300px, 570px, -300px, -570px, 39px, 39px, 776px, 672px, '../img/png-sprite.png', 's-serv02', );
$s-serv03-name: 's-serv03';
$s-serv03-x: 224px;
$s-serv03-y: 610px;
$s-serv03-offset-x: -224px;
$s-serv03-offset-y: -610px;
$s-serv03-width: 39px;
$s-serv03-height: 42px;
$s-serv03-total-width: 776px;
$s-serv03-total-height: 672px;
$s-serv03-image: '../img/png-sprite.png';
$s-serv03: (224px, 610px, -224px, -610px, 39px, 42px, 776px, 672px, '../img/png-sprite.png', 's-serv03', );
$s-serv04-name: 's-serv04';
$s-serv04-x: 725px;
$s-serv04-y: 470px;
$s-serv04-offset-x: -725px;
$s-serv04-offset-y: -470px;
$s-serv04-width: 33px;
$s-serv04-height: 36px;
$s-serv04-total-width: 776px;
$s-serv04-total-height: 672px;
$s-serv04-image: '../img/png-sprite.png';
$s-serv04: (725px, 470px, -725px, -470px, 33px, 36px, 776px, 672px, '../img/png-sprite.png', 's-serv04', );
$s-serv05-name: 's-serv05';
$s-serv05-x: 647px;
$s-serv05-y: 470px;
$s-serv05-offset-x: -647px;
$s-serv05-offset-y: -470px;
$s-serv05-width: 45px;
$s-serv05-height: 37px;
$s-serv05-total-width: 776px;
$s-serv05-total-height: 672px;
$s-serv05-image: '../img/png-sprite.png';
$s-serv05: (647px, 470px, -647px, -470px, 45px, 37px, 776px, 672px, '../img/png-sprite.png', 's-serv05', );
$s-serv06-name: 's-serv06';
$s-serv06-x: 339px;
$s-serv06-y: 570px;
$s-serv06-offset-x: -339px;
$s-serv06-offset-y: -570px;
$s-serv06-width: 33px;
$s-serv06-height: 36px;
$s-serv06-total-width: 776px;
$s-serv06-total-height: 672px;
$s-serv06-image: '../img/png-sprite.png';
$s-serv06: (339px, 570px, -339px, -570px, 33px, 36px, 776px, 672px, '../img/png-sprite.png', 's-serv06', );
$s-serv07-name: 's-serv07';
$s-serv07-x: 263px;
$s-serv07-y: 610px;
$s-serv07-offset-x: -263px;
$s-serv07-offset-y: -610px;
$s-serv07-width: 31px;
$s-serv07-height: 38px;
$s-serv07-total-width: 776px;
$s-serv07-total-height: 672px;
$s-serv07-image: '../img/png-sprite.png';
$s-serv07: (263px, 610px, -263px, -610px, 31px, 38px, 776px, 672px, '../img/png-sprite.png', 's-serv07', );
$s-serv08-name: 's-serv08';
$s-serv08-x: 692px;
$s-serv08-y: 470px;
$s-serv08-offset-x: -692px;
$s-serv08-offset-y: -470px;
$s-serv08-width: 33px;
$s-serv08-height: 36px;
$s-serv08-total-width: 776px;
$s-serv08-total-height: 672px;
$s-serv08-image: '../img/png-sprite.png';
$s-serv08: (692px, 470px, -692px, -470px, 33px, 36px, 776px, 672px, '../img/png-sprite.png', 's-serv08', );
$s-serv09-name: 's-serv09';
$s-serv09-x: 372px;
$s-serv09-y: 570px;
$s-serv09-offset-x: -372px;
$s-serv09-offset-y: -570px;
$s-serv09-width: 36px;
$s-serv09-height: 30px;
$s-serv09-total-width: 776px;
$s-serv09-total-height: 672px;
$s-serv09-image: '../img/png-sprite.png';
$s-serv09: (372px, 570px, -372px, -570px, 36px, 30px, 776px, 672px, '../img/png-sprite.png', 's-serv09', );
$s-soc-fb-name: 's-soc-fb';
$s-soc-fb-x: 260px;
$s-soc-fb-y: 570px;
$s-soc-fb-offset-x: -260px;
$s-soc-fb-offset-y: -570px;
$s-soc-fb-width: 40px;
$s-soc-fb-height: 40px;
$s-soc-fb-total-width: 776px;
$s-soc-fb-total-height: 672px;
$s-soc-fb-image: '../img/png-sprite.png';
$s-soc-fb: (260px, 570px, -260px, -570px, 40px, 40px, 776px, 672px, '../img/png-sprite.png', 's-soc-fb', );
$s-soc-insta-name: 's-soc-insta';
$s-soc-insta-x: 220px;
$s-soc-insta-y: 570px;
$s-soc-insta-offset-x: -220px;
$s-soc-insta-offset-y: -570px;
$s-soc-insta-width: 40px;
$s-soc-insta-height: 40px;
$s-soc-insta-total-width: 776px;
$s-soc-insta-total-height: 672px;
$s-soc-insta-image: '../img/png-sprite.png';
$s-soc-insta: (220px, 570px, -220px, -570px, 40px, 40px, 776px, 672px, '../img/png-sprite.png', 's-soc-insta', );
$s-soc-rss-name: 's-soc-rss';
$s-soc-rss-x: 180px;
$s-soc-rss-y: 570px;
$s-soc-rss-offset-x: -180px;
$s-soc-rss-offset-y: -570px;
$s-soc-rss-width: 40px;
$s-soc-rss-height: 40px;
$s-soc-rss-total-width: 776px;
$s-soc-rss-total-height: 672px;
$s-soc-rss-image: '../img/png-sprite.png';
$s-soc-rss: (180px, 570px, -180px, -570px, 40px, 40px, 776px, 672px, '../img/png-sprite.png', 's-soc-rss', );
$s-soc-twitter-name: 's-soc-twitter';
$s-soc-twitter-x: 140px;
$s-soc-twitter-y: 570px;
$s-soc-twitter-offset-x: -140px;
$s-soc-twitter-offset-y: -570px;
$s-soc-twitter-width: 40px;
$s-soc-twitter-height: 40px;
$s-soc-twitter-total-width: 776px;
$s-soc-twitter-total-height: 672px;
$s-soc-twitter-image: '../img/png-sprite.png';
$s-soc-twitter: (140px, 570px, -140px, -570px, 40px, 40px, 776px, 672px, '../img/png-sprite.png', 's-soc-twitter', );
$s-soc-vk-name: 's-soc-vk';
$s-soc-vk-x: 100px;
$s-soc-vk-y: 570px;
$s-soc-vk-offset-x: -100px;
$s-soc-vk-offset-y: -570px;
$s-soc-vk-width: 40px;
$s-soc-vk-height: 40px;
$s-soc-vk-total-width: 776px;
$s-soc-vk-total-height: 672px;
$s-soc-vk-image: '../img/png-sprite.png';
$s-soc-vk: (100px, 570px, -100px, -570px, 40px, 40px, 776px, 672px, '../img/png-sprite.png', 's-soc-vk', );
$s-tech-documentation-icon-name: 's-tech-documentation-icon';
$s-tech-documentation-icon-x: 566px;
$s-tech-documentation-icon-y: 510px;
$s-tech-documentation-icon-offset-x: -566px;
$s-tech-documentation-icon-offset-y: -510px;
$s-tech-documentation-icon-width: 58px;
$s-tech-documentation-icon-height: 58px;
$s-tech-documentation-icon-total-width: 776px;
$s-tech-documentation-icon-total-height: 672px;
$s-tech-documentation-icon-image: '../img/png-sprite.png';
$s-tech-documentation-icon: (566px, 510px, -566px, -510px, 58px, 58px, 776px, 672px, '../img/png-sprite.png', 's-tech-documentation-icon', );
$s-vk-name: 's-vk';
$s-vk-x: 747px;
$s-vk-y: 210px;
$s-vk-offset-x: -747px;
$s-vk-offset-y: -210px;
$s-vk-width: 22px;
$s-vk-height: 14px;
$s-vk-total-width: 776px;
$s-vk-total-height: 672px;
$s-vk-image: '../img/png-sprite.png';
$s-vk: (747px, 210px, -747px, -210px, 22px, 14px, 776px, 672px, '../img/png-sprite.png', 's-vk', );
$spritesheet-width: 776px;
$spritesheet-height: 672px;
$spritesheet-image: '../img/png-sprite.png';
$spritesheet-sprites: ($s-advantages-icon, $s-advantages01, $s-advantages02, $s-advantages03, $s-certification-hover1, $s-certification-hover2, $s-certification-hover3, $s-certification-hover4, $s-certification-hover5, $s-certification-hover6, $s-certification-hover7, $s-certification-hover8, $s-certification-icon, $s-certification1, $s-certification2, $s-certification3, $s-certification4, $s-certification5, $s-certification6, $s-certification7, $s-certification8, $s-face-consult, $s-feat-icon, $s-fire-safety-icon, $s-hamburger-close, $s-hamburger, $s-industrial-safety-icon, $s-iso-icon, $s-loupe, $s-map-icon, $s-news-prefix, $s-other-services-icon, $s-product-testing-icon, $s-quality-system-icon, $s-review-icon, $s-review-img, $s-rospotreb-icon, $s-serv-icon, $s-serv01, $s-serv02, $s-serv03, $s-serv04, $s-serv05, $s-serv06, $s-serv07, $s-serv08, $s-serv09, $s-soc-fb, $s-soc-insta, $s-soc-rss, $s-soc-twitter, $s-soc-vk, $s-tech-documentation-icon, $s-vk, );
$spritesheet: (776px, 672px, '../img/png-sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
