include ../abstracts/mixins/_advantages.pug
include ../abstracts/bemto/bemto.pug

//Advantages
+b.SECTION.advantages-header
  +e.H1.title Наши приемущества
  .container
    .row
      +advantagesItem('10 лет на рынке','Мы работаем на рынке уже 15 лет, за это время накоплена огромная база знаний, которая поддерживается в актуальном состоянии')
      +advantagesItem('Сертификат за день', 'Мы работаем на рынке уже 15 лет, за это время накоплена огромная база знаний, которая поддерживается в актуальном состоянии')
      +advantagesItem('Работа по всей России','Мы работаем на рынке уже 15 лет, за это время накоплена огромная база знаний, которая поддерживается в актуальном состоянии')