include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Certification
+b.SECTION.certification
  +e.H1.title Сертификация
  .container
    .row
      +services-pageItem("certification1.jpg", "Сертификаты ТП ТС")
      +services-pageItem("certification2.jpg","Декларации ТП ТС")
      +services-pageItem("certification3.jpg","Обязательная сертификация ГОСТ Р")
      +services-pageItem("certification4.jpg","Добровольная сертификация ГОСТ Р")
      +services-pageItem("certification5.jpg","Отказное письмо")
      +services-pageItem("certification6.jpg","Добрововльная сертификация услуг")
      +services-pageItem("certification7.jpg","Сертификация сейсмостойкости")
      +services-pageItem("certification8.jpg","Экологические сертификаты")

