include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug

//Questions header
.container
  +b.page-text-wrapper
    +e.quote
      blockqoute Мы готовы ответить на все ваши вопросы по сертификации, специалист свяжется с вами в указанное время. Сориентируем по схемам получения документа, по стоимости и срокам, поможем с оформлением.
  +form(question)