include ../abstracts/mixins/_office.pug
include ../abstracts/bemto/bemto.pug

- var spb = [{title : 'Санкт-Петербург', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'Станция метро: "Спортивная", ул. Яблочкова, д. 12, лит. Ц., оф. 314', email: 'spb@baltictest.ru', fax: '+7 (812) 493-59-27', tel: '+7 (812) 951-26-42', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1997.8525013344206!2d30.296210416097466!3d59.95118128188074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631392ced7d51%3A0x49c563975e6dfed1!2z0YPQuy4g0K_QsdC70L7Rh9C60L7QstCwLCAxMiwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5NzE5OA!5e0!3m2!1sru!2sru!4v1475066286509'}]
- var rostov = [{title : 'Ростов-на-Дону', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. города Волос, д. 6', email: 'rostov@baltictest.ru', tel: '+7 (952) 561-01-17', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2709.456392401994!2d39.70391431561742!3d47.227217979161296!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e3b905c32008d7%3A0xce431a586a2cdbc7!2z0YPQuy4g0JPQvtGA0L7QtNCwINCS0L7Qu9C-0YEsIDYsINCg0L7RgdGC0L7Qsi3QvdCwLdCU0L7QvdGDLCDQoNC-0YHRgtC-0LLRgdC60LDRjyDQvtCx0LsuLCAzNDQwMDI!5e0!3m2!1sru!2sru!4v1475066738768'}]
- var volgograd = [{title : 'Волгоград', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Ткачева, д. 20б', email: '34@baltictest.ru', tel: '+7 (8442) 51-66-48', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2632.0099008644574!2d44.51427101536721!3d48.724402479274545!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x411acb210ec41b45%3A0x325c47602c2a56f5!2z0YPQuy4g0LjQvC4g0KLQutCw0YfQtdCy0LAsIDIwINCxLCDQktC-0LvQs9C-0LPRgNCw0LQsINCS0L7Qu9Cz0L7Qs9GA0LDQtNGB0LrQsNGPINC-0LHQuy4sIDQwMDA1MA!5e0!3m2!1sru!2sru!4v1475066881393'}]
- var saratov = [{title : 'Саратов', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Пугачевская, д. 159', email: '64@baltictest.ru', tel: '+7 (8452) 68-05-74', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.3874537221814!2d46.01457231548614!3d51.54279397964101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4114c7cb956321d9%3A0xc2255df3842e01e1!2z0YPQuy4g0J_Rg9Cz0LDRh9GR0LLQsCDQlS4g0JgsIDE1OSwg0KHQsNGA0LDRgtC-0LIsINCh0LDRgNCw0YLQvtCy0YHQutCw0Y8g0L7QsdC7LiwgNDEwMDA1!5e0!3m2!1sru!2sru!4v14750670088328'}]
- var tolyatti = [{title : 'Тольятти', languages: [['ru.png', 'русский язык'], ['en.png', 'английский язык']], address: 'ул. Фрунзе, д. 8', email: '63@baltictest.ru', tel: '+7 (8482) 40-95-71', workFrom: '9:30', workTo: '18:00', mapSource: 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2372.4689871880178!2d49.29522341557212!3d53.51368058001441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4168797880a6b3df%3A0x2ca5c4ffffd9985c!2z0YPQuy4g0KTRgNGD0L3Qt9C1LCA4LCDQotC-0LvRjNGP0YLRgtC4LCDQodCw0LzQsNGA0YHQutCw0Y8g0L7QsdC7LiwgNDQ1MDUx!5e0!3m2!1sru!2sru!4v1475067124088'}]


+b.SECTION.content
  // Offices
  +e.offices
    +office(spb)
    +office(rostov)
    +office(volgograd)
    +office(saratov)
    +office(tolyatti)
