include ../abstracts/mixins/_features-item.pug
include ../abstracts/bemto/bemto.pug

//Features
+b.SECTION.features
  +e.H1.title Как получить документ
  .container
    .row
      .col-xs-12.push-lg-2.col-lg-9
        +featuresItem("Сначала Вы направляете специалистам «Балтиктест» заявку, и они Вам перезванивают.")
        +featuresItem("После этого мы помогаем в подготовке комплекта документации и направляем её в орган сертификации.")
        +featuresItem("Третий этап – проверка образца продукции в лаборатории.")
        +featuresItem("Положительным итогом экспертиз становится выдача документа.")
      .col-xs-12.col-md-6
        +e.P.ask У вас остались вопросы?
      .col-xs-12.col-md-6
        +e.btn-wrapper
          +e.A.question(href="questions.html") Обращайтесь