include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Fire-safety
+b.SECTION.fire-safety
  +e.H1.title Пожарная безопасность
  .container
    .row
      +services-pageItem("fire-safety1.jpg","Сертификат и декларация пожарной безапасности")
      +services-pageItem("fire-safety2.jpg","Отказное письмо по пожарной безопасности")
