include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .footer-menu
    .container
      // Footer nav
      +b.NAV.footer-nav
        +e.UL.list
          +e.item.nav__item--active
            +e.A.link.nav__link--active(href="index.html") Главная
          +e.item
            +e.A.link(href="page-services.html") Наши услуги
          +e.item
            +e.A.link(href="questions.html") Вопрос-ответ
          +e.item
            +e.A.link(href="consult.html") Заказать консультацию
          +e.item
            +e.A.link(href="reviews.html") Отзывы
          +e.item
            +e.A.link(href="contacts.html") Контакты
          +b.search
            +e.form
              +e.INPUT.input(type='text', name='Поиск', placeholder='поиск')
            +e.A.icon(href="javascript:void(0);")
  .footer-socials
    .container
      +b.socials
        .row
          .col-xs-12.col-md-6
            +e.P.copyright Все права защищены   &#169; Центр сертификации БалтикТест 2016
          .col-xs-12.col-md-6
              +e.UL.list
                +e.LI.item
                //-   +e.A.link(href="https://facebook.com" target="_blank")
                //-     img(src="img/soc-fb.png", alt="fb", title="facebook")
                //- +e.LI.item
                //-   +e.A.link(href="https://vk.com" target="_blank")
                //-     img(src="img/soc-vk.png", alt="vk", title="vkontakte")
                //- +e.LI.item
                //-   +e.A.link(href="https://instagram.com/" target="_blank")
                //-     img(src="img/soc-insta.png", alt="instagram", title="instagram")
                //- +e.LI.item
                //-   +e.A.link(href="https://twitter.com/" target="_blank")
                //-     img(src="img/soc-twitter.png", alt="twitter", title="twitter")
                +e.LI.item
                  +e.A.link(href="#" target="_blank")
                    img(src="img/soc-rss.png", alt="rss", title="rss")




