include ../abstracts/bemto/bemto.pug

// Header
+b.HEADER.header
  .container
    .row
      .col-xs-12.col-sm-6.col-md-4.col-xl-4
        // Logo
        +b.A.logo(href="index.html")
          img(src="img/logo.png", alt="logo", title="logo")
      .col-xs-12.col-md-5.col-xl-4
        +e.info
          +e.contact-info
            +e.email-wrapper
              +e.A.email(href="mailto:info@promotest.info", target="_blank") info@promotest.info
            +e.tel-wrapper
              +e.A.tel(href="tel:+78123321705", target="_blank") +7 (812)
                span 332-17-05
          +e.btn
            +b.A.btn(href="#", data-form="call") Заказать звонок
  .container
    .row
      .col-xs-12
        // Nav menu
        +b.NAV.nav
          +e.hamburger
            +b.A.hamburger(href="#")
          +e.UL.list
            +e.item
              +e.A.link--active(href="index.html") Главная
            +e.slash /
            +e.item
              +e.A.link(href="page.html") О нас
            +e.slash /
            +e.item
              +e.A.link(href="javascript:void(0);") Услуги
              +b.UL.dropdown-menu
                +e.item
                  +e.A.link(href="page.html") Сертификат ГОСТ Р
                +e.item
                  +e.A.link(href="page.html") Добровольный сертификат ГОСТ Р
                +e.item
                  +e.A.link(href="page.html") Декларация ГОСТ Р
                +e.item
                  +e.A.link(href="page.html") Сертификат ТР ТС
                +e.item
                  +e.A.link(href="page.html") Декларация ТР ТС
                +e.item
                  +e.A.link(href="page.html") Государственная регистрация продукции
                +e.item
                  +e.A.link(href="page.html") Экспертное заключение Ростпотребнадзора
                +e.item
                  +e.A.link(href="page.html") Отказное письмо
                +e.item
                  +e.A.link(href="page.html") Сертификат на услуги
                +e.item
                  +e.A.link(href="page.html") Технические условия
                +e.item
                  +e.A.link(href="page.html") Нормативно-техническая документация
                +e.item
                  +e.A.link(href="page.html") Пожарный сертификат
                +e.item
                  +e.A.link(href="page.html") Пожарная декларация
                +e.item
                  +e.A.link(href="page.html") СБК ТС
                +e.item
                  +e.A.link(href="page.html") Сертификат происхождения
                +e.item
                  +e.A.link(href="page.html") Сертификат ИСО
                +e.item
                  +e.A.link(href="page.html") Сертификат на цемент
                +e.item
                  +e.A.link(href="page.html") Штрихкодирование
                +e.item
                  +e.A.link(href="page.html") Патентование
                +e.item
                  +e.A.link(href="page.html") Экспертиза промышленной безопасности
                +e.item
                  +e.A.link(href="page.html") Озоновое заключение
                +e.item
                  +e.A.link(href="page.html") Декларация Минсвязи
                +e.item
                  +e.A.link(href="page.html") Нотификация ФСБ
                +e.item
                  +e.A.link(href="page.html") Лицензия Минпромторга
            +e.slash /
            +e.item
              +e.A.link(href="page.html") Сертификация продукции
            +e.slash /
            +e.item
              +e.A.link(href="page-contacts.html") Контакты
            +e.slash /
            +b.search
              +e.FORM.form
                +e.INPUT.input(type='text', name='Поиск', placeholder='поиск')
              +e.A.icon(href="javascript:void(0);")

