include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Industrial-safety
+b.SECTION.industrial-safety
  +e.H1.title Промышленная безопасность
  .container
    .row
      +services-pageItem("industrial-safety1.jpg","Экспертиза промышленной безопасности")
      +services-pageItem("industrial-safety2.jpg","Паспорт опасного объекта")
