include ../abstracts/mixins/_interesting.pug
include ../abstracts/bemto/bemto.pug

//Interesting
+b.SECTION.interesting
  .container
    +e.H2.title Это интересно:
    .row
      +interestingItem("Название и снова название", "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопрос алфавит от всех коварный, ты ее языком силуэт подпоясал агенство!")
      +interestingItem("Название", "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопрос алфавит от всех коварный, ты ее языком силуэт подпоясал агенство! ты ее языком силуэт подпоясал агенство!")
      +interestingItem("Название и снова название", "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопрос алфавит от всех коварный, ты ее языком силуэт подпоясал агенство!")
      +interestingItem("Название", "Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Вопрос алфавит от всех коварный, ты ее языком силуэт подпоясал агенство! ты ее языком силуэт подпоясал агенство!")
