include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Iso
+b.SECTION.iso
  +e.H1.title Система менеджемнта качества (ИСО)
  .container
    .row
      +services-pageItem("iso1.jpg","9001")
      +services-pageItem("iso2.jpg","14001")
      +services-pageItem("iso3.jpg","18000")
      +services-pageItem("iso4.jpg","ISO/IEC 27001 (ГОСТ Р ИСО/МЭК  27001-2006) ")
      +services-pageItem("iso5.jpg","Энергетический менеджмент (ISO 50001)")
      +services-pageItem("iso6.jpg","22000 (ХАССП)")
