include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Other services
+b.SECTION.other-services
  +e.H1.title Прочие услуги
  .container
    .row
      +services-pageItem("other-services1.jpg","Фитосанитарный сертификат")
      +services-pageItem("other-services2.jpg","Сертификат происхождения")
      +services-pageItem("other-services3.jpg","Заключение ЭксКонт")
      +services-pageItem("other-services4.jpg","СБКТС")
      +services-pageItem("other-services5.jpg","Присвоение  кода ТНВЭД")
      +services-pageItem("other-services6.jpg","Акт БУ оборудование, заключение стоимости")
      +services-pageItem("other-services7.jpg","Минсвязь")
      +services-pageItem("other-services8.jpg","Нотификация")
      +services-pageItem("other-services9.jpg","Лицензия минпромта")
      +services-pageItem("other-services10.jpg","Госстрой")
      +services-pageItem("other-services11.jpg","СЕ")
      +services-pageItem("other-services12.jpg","УкрСепро")
      +services-pageItem("other-services13.jpg","Письма-разъяснение от ВНИИС")
      +services-pageItem("other-services14.jpg","Разрешение на ввоз и вывоз озоноразру-шающих веществ")
      +services-pageItem("other-services15.jpg","Штрих-код")
      +services-pageItem("other-services16.jpg","Регистрация торговой марки")
      +services-pageItem("other-services17.jpg","Патентование")
