include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug

//Page inner
+b.SECTION.page-inner
  .container
    +e.title Обязательно прочитатйте это интересно
    +b.page-call-btn
      +e.P.text Некогда читать?
      +e.A.btn(href="#") Закажите звонок
      +e.overlay
        +e.bgr
        +e.form
          +form(question)
      +e.P.text Наши специалисты обо всем расскажут побробно
    +b.page-text-wrapper
      +e.H3.title Услуги в подробностях
      +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми грамматики несколько живет, скатился ipsum реторический силуэт страна сих образ большого путь предупреждал вскоре о семантика раз, своих. Ведущими взобравшись, знаках, необходимыми гор сбить маленькая образ что безопасную,
      +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласных живут
        a(href="#", title="Как зарегистрировать товарный знак")
          em Как зарегистрировать товарный знак
        | рыбные тексты. Необходимыми грамматики несколько живет, скатился ipsum реторический силуэт страна сих образ большого путь предупреждал вскоре о семантика раз, своих.
        a(href="#", title="Как зарегистрировать товарный знак")
          em Как зарегистрировать товарный знак
        | Ведущими взобравшись, знаках, необходимыми гор сбить маленькая образ что безопасную, lorem силуэт предупреждал дороге алфавит! Залетают себя, страну осталось! Реторический живет переулка продолжил моей что текстами рекламных, пунктуация своего, точках деревни собрал даль грустный наш.
      +e.quote
        blockquote Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми грамматики несколько живет, скатился ipsum  Залетают себя, страну осталось! Реторический живет переулка продолжил моей что текстами рекламных, пунктуация своего, точках деревни собрал даль грустный наш.
        p Вася Пупкин
      +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми грамматики несколько живет, скатился ipsum реторический силуэт страна сих образ большого путь предупреждал вскоре о семантика раз, своих. Ведущими взобравшись, знаках, необходимыми гор сбить маленькая образ что безопасную, lorem силуэт предупреждал дороге алфавит! Залетают себя, страну осталось!
      +e.OL.page-list-ol
        +e.LI.item Далеко-далеко за словесными горами в стране
        +e.LI.item Далеко-далеко за словесными горами в стране
          +e.OL.page-list-ol--level2
            +e.LI.item--level2 Далеко-далеко за словесными горами в стране
            +e.LI.item--level2 Далеко-далеко за словесными горами в стране
            +e.LI.item--level2 Далеко-далеко за словесными горами в стране
        +e.LI.item Далеко-далеко за словесными горами в стране
      +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Необходимыми грамматики несколько живет, скатился ipsum реторический силуэт страна сих образ большого путь предупреждал вскоре о семантика раз, своих. страна сих образ большого путь предупреждал вскоре о семантика раз, своих.Ведущими взобравшись, знаках, необходимыми гор сбить маленькая образ что безопасную, lorem силуэт предупреждал дороге алфавит! Залетают себя, страну осталось!
      +e.UL.page-list-ul
        +e.LI.item Далеко-далеко за словесными горами в стране
        +e.LI.item Далеко-далеко за словесными горами в стране
          +e.UL.page-list-ul--level2
            +e.LI.item--level2 Далеко-далеко за словесными горами в стране
            +e.LI.item--level2 Далеко-далеко за словесными горами в стране
            +e.LI.item--level2 Далеко-далеко за словесными горами в стране
        +e.LI.item Далеко-далеко за словесными горами в стране
      +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласн Необходимыми грамматики несколько живет, скатился ipsum страна сих образ большого путь предупреждал вскоре о семантика раз, своих.реторический силуэт страна сих образ большого путь предупреждал вскоре о семантика раз, своих. Ведущими взобравшись, знаках, необходимыми гор сбить маленькая образ что безопасную, lorem силуэт предупреждал дороге алфавит! Залетают себя, страну осталось!