include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Product-testing
+b.SECTION.product-testing
  +e.H1.title Испытания продукции
  .container
    .row
      +services-pageItem("product-testing1.jpg","Протокол ГМО")
      +services-pageItem("product-testing2.jpg","Протокол радиологии")
      +services-pageItem("product-testing3.jpg","Заключение о спирте")
