include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug

// Promo
+b.SECTION.promo
  .container
    .row
      .col-xs-12.col-lg-8.form-order
        +form(application)
      .col-xs-12.col-lg-4.promo-order
        +e.H2.title Немного о компании
        +e.P.text Оценка качества услуг и товаров необходима для законного функционирования компании и её успешного развития. В центре «Балтиктест» Вы сможете получить сертификаты и прочие разрешения надёжно и быстро. Профессионализм, ответственный подход и внушительный опыт работающих в «Балтиктест» специалистов позволит беспрепятственно решить любую проблему.
        +e.P.text У нас Вы также сможете разработать любой тип техдокументации, испытать в лабораторных условиях оборудования, материалы и вещества, создать оптимальную систему менеджмента для Вашей компании.

