include ../abstracts/bemto/bemto.pug

// Promo
+b.SECTION.promo
  .container
    .row
      .col-xs-12.col-lg-8
        +e.P.form тут должна быть форма
      .col-xs-12.col-lg-4
        +e.H2.title Немного о компании
        +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свой что буквоград жаренные, от всех напоивший.
        +e.P.text Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семь свой реторический родного запятой домах то, возвращайся текста языкового единственное сбить знаках они своих вопрос буквоград бросил за. Собрал алфавит знаках букв его одна. Свой что буквоград жаренные.
        +e.P.text Далеко-далеко засловесными горами в стране, гласных и согласных живут рыбные тексты. Свой что буквоград жаренные, от всех напоивший.

