include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Quality-system
+b.SECTION.quality-system
  +e.H1.title Система добровольной сертификации «Система качества EAC»
  .container
    .row
      +services-pageItem("quality-system1.jpg","Системы менеджмента безопасности труда и охраны здоровья ГОСТ Р 54934-2012 (OHSAS 18001:2007)")
      +services-pageItem("quality-system2.jpg","Сертификат экологического менеджмента 14001-2007 (ISO 14001:2004)")
      +services-pageItem("quality-system3.jpg","Сертификат системы менеджмента качества ГОСТ ISO 9001-2011 (ISO 9001:2008)")
      +services-pageItem("quality-system4.jpg","Системы менеджмента безопасности пищевой продукции ГОСТ Р ИСО 22000-2007 (ISO 22000-2005)")
      +services-pageItem("quality-system5.jpg","Сертификат на услуги")
      +services-pageItem("quality-system6.jpg","Разрешение на применение знака системы")
      +services-pageItem("quality-system7.jpg","Сертификат соответствия аудитора")
