include ../abstracts/mixins/_onequestion.pug
include ../abstracts/bemto/bemto.pug

//Questions footer
.container
  +oneQuestion("Запрос ТУ на хлебобулочные изделия","Добрый день, в связи с переходом в правовое поле рф нам нербходимо сделать ТУ для выпускаемых нами хлебобулочных изделий и фастфуда , таких как пончики с разными начинками, вертуны(булки), пирожки печеные, хот доги, пиццы, сэндвичи и гамбургеры, пироги тертые из песочного теста. С чего необходимо начать если мы хотим оформить эти документы с вашей помощью?","Максим (Севастополь и Республика Крым, 26 июля 2016)")
  +oneQuestion("Запрос ТУ на хлебобулочные изделия","Добрый день, в связи с переходом в правовое поле рф нам нербходимо сделать ТУ для выпускаемых нами хлебобулочных изделий и фастфуда , таких как пончики с разными начинками, вертуны(булки), пирожки печеные, хот доги, пиццы, сэндвичи и гамбургеры, пироги тертые из песочного теста. С чего необходимо начать если мы хотим оформить эти документы с вашей помощью?","Максим (Севастополь и Республика Крым, 26 июля 2016)")
  +oneQuestion("Запрос ТУ на хлебобулочные изделия","Добрый день, в связи с переходом в правовое поле рф нам нербходимо сделать ТУ для выпускаемых нами хлебобулочных изделий и фастфуда , таких как пончики с разными начинками, вертуны(булки), пирожки печеные, хот доги, пиццы, сэндвичи и гамбургеры, пироги тертые из песочного теста. С чего необходимо начать если мы хотим оформить эти документы с вашей помощью?","Максим (Севастополь и Республика Крым, 26 июля 2016)")
  +b.pagination
    +e.UL.List Станицы:
      +e.LI.item.pagination__item--active
        a(href="#") 1
      +e.LI.item
        a(href="#") 2
      +e.LI.item
        a(href="#") 3
      +e.LI.item
        a(href="#") 4
      +e.LI.item
        a(href="#") 5
