include ../abstracts/mixins/_review.pug
include ../abstracts/bemto/bemto.pug

// Reviews
+b.SECTION.reviews
  +e.H1.title Отзывы
  .container
    .row
      .col-xs-12.col-md-6
        +reviewItem("review-img.png", "ООО Еромолино", "Большое спасибо за оказанную помощь в получении документа! Благодарим за отличную работу! Большое спасибо за оказанную помощь в получении!")
      .col-xs-12.col-md-6
        +reviewItem("review-img.png", "ООО Еромолино", "Большое спасибо за оказанную помощь в получении документа! Благодарим за отличную работу! Большое спасибо за оказанную помощь в получении!")
