include ../abstracts/mixins/_onereview.pug
include ../abstracts/bemto/bemto.pug

//Review footer
.container
  +oneReview("Огромное спасибо Вам за качественную работу!","Компания: ООО ВАК","Оказали оперативную помощь в получении сертификата. Была предоставлена качественная консультация.")
  +oneReview("Огромное спасибо Вам за качественную работу!","Компания: ООО ВАК","Оказали оперативную помощь в получении сертификата. Была предоставлена качественная консультация.")
  +oneReview("Огромное спасибо Вам за качественную работу!","Компания: ООО ВАК","Оказали оперативную помощь в получении сертификата. Была предоставлена качественная консультация.")
  +oneReview("Огромное спасибо Вам за качественную работу!","Компания: ООО ВАК","Оказали оперативную помощь в получении сертификата. Была предоставлена качественная консультация.")
  +oneReview("Огромное спасибо Вам за качественную работу!","Компания: ООО ВАК","Оказали оперативную помощь в получении сертификата. Была предоставлена качественная консультация.")
  +b.pagination
    +e.UL.List Станицы:
      +e.LI.item.pagination__item--active
        a(href="#") 1
      +e.LI.item
        a(href="#") 2
      +e.LI.item
        a(href="#") 3
      +e.LI.item
        a(href="#") 4
      +e.LI.item
        a(href="#") 5
