include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug

//Reviews header
.container
  +b.page-text-wrapper
    +e.quote
      blockqoute Уважаемые клиенты, вы можете оставить отзыв о работе центра, высказать свои предложения и пожелания. Пожалуйста, воспользуйтесь формой ниже.
  +form(review)