include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Rospotreb
+b.SECTION.rospotreb
  +e.H1.title Роспотребнадзор
  .container
    .row
      +services-pageItem("rospotreb1.jpg","СГР")
      +services-pageItem("rospotreb2.jpg","ЭЗ")
      +services-pageItem("rospotreb3.jpg","Отказное Роспотреб- надзора")