include ../abstracts/bemto/bemto.pug

//Services socials
.container
  +b.services-socials
    .row
      +e.UL.list
        +e.LI.item
          +e.A.link(href="https://facebook.com" target="_blank")
            img(src="img/icon-blue-fb.png", alt="fb", title="facebook")
        +e.LI.item
          +e.A.link(href="https://vk.com" target="_blank")
            img(src="img/icon-blue-vk.png", alt="vk", title="vkontakte")
        +e.LI.item
          +e.A.link(href="https://instagram.com/" target="_blank")
            img(src="img/icon-blue-insta.png", alt="instagram", title="instagram")
        +e.LI.item
          +e.A.link(href="https://twitter.com/" target="_blank")
            img(src="img/icon-blue-twitter.png", alt="twitter", title="twitter")
