include ../abstracts/mixins/_service-item.pug
include ../abstracts/mixins/_form.pug
include ../abstracts/bemto/bemto.pug


// Services
+b.SECTION.services
  +e.H1.title Мы поможем, если вам нужны:
  .container
    .row
      +serviceItem("service01.jpg", "Сертификация")
      +serviceItem("service02.jpg",
      "Разработка технической документации")
      +serviceItem("service03.jpg", "Роспотреднадзор")
      +serviceItem("service04.jpg", "Пожарная безопасность")
      +serviceItem("service05.jpg", "Система менеджемнта качества (ИСО)")
      +serviceItem("service06.jpg", "Промышленная безопасность")
      +serviceItem("service07.jpg", "Испытания продукции")
      +serviceItem("service08.jpg", "Прочие услуги")
      +serviceItem("service09.jpg", "Система добровольной сертификации  «Система качества ЕАС»")
+b.SECTION.services-form
  +e.H2.question Не знаете какой документ Вам нужен?
  +e.P.consult Закажите бесплтаную консультацию по телефону
  //- +form(question)







