include ../abstracts/mixins/_sidebar-link.pug
include ../abstracts/bemto/bemto.pug

// Sidebar_ver2
+b.ASIDE.sidebar
  +sidebarLink("Подробно о сертификации Вашей продукции")
  +sidebarLink("Проверка подлинности документов")
  +sidebarLink("Дополнительная информация")