include ../abstracts/mixins/_form.pug
include ../abstracts/mixins/_sidebar-link.pug
include ../abstracts/bemto/bemto.pug

// Sidebar
+b.ASIDE.sidebar
  +form(call)
  +sidebarLink("Подробно о сертификации Вашей продукции")
  +sidebarLink("Проверка подлинности документов")
  +sidebarLink("Дополнительная информация")





