include ../abstracts/bemto/bemto.pug

//Questions header
.container
  +b.page-text-wrapper
    +e.quote
      blockqoute Наши специалисты готовы проконсультировать и ответить на ваши вопросы. Мы разбираемся даже в самых спорных моментах. Задайте свой вопрос прямо сейчас и получите ответ в течение 2 часов!
  +b.single-question
    +e.H1.title Декларация ТР ТС на чайные напитки
    +e.P.text Здравствуйте, интересует стоимость декларации то тс на чайные напитки (травяные). С уважением, Юлия.
    +e.P.name Юлия (Краснодарский край, 18 августа 2016)
    +e.P.text Здравствуйте, Юлия! Если чайные напитки не являются БАДами, то подлежат декларированию по Техническому регламенту Таможенного союза "о безопасности пищевой продукции" 021/2011, для оформления декларации необходим нормативный документ, по которому производите: ГОСТ или ТУ(Технические условия), сможем помочь с разработкой ТУ и с оформлением декларации.
    +e.P.name Алена, +7 (812) 493-59-27
      +e.A.mail(href="mailto:") spb@baltictest.ru
    +e.A.back(href="questions.html") Назад