include ../abstracts/mixins/_services-page-item.pug
include ../abstracts/bemto/bemto.pug

//Tech-documentation
+b.SECTION.tech-documentation
  +e.H1.title Разработка технической документации
  .container
    .row
      +services-pageItem("tech-documentation1.jpg","ТУ")
      +services-pageItem("tech-documentation2.jpg","Обоснование безопасности")
      +services-pageItem("tech-documentation3.jpg","Паспорт изделия")
      +services-pageItem("tech-documentation4.jpg", "Руководство по эксплуатации")
      +services-pageItem("tech-documentation5.jpg","Паспорт безопасности и регистрация")
      +services-pageItem("tech-documentation6.jpg","Разработка технологической инструкции")
      +services-pageItem("tech-documentation7.jpg","Разработка технологического регламента")
      +services-pageItem("tech-documentation8.jpg","Стандарт предприятия/организации")
      +services-pageItem("tech-documentation9.jpg","Разработка рецептур")
